---
layout: default
---
</style>
<div class="home">

  <h1 class="page-heading"><strong>About Me</strong></h1>
    <div>
    <div style="display: inline-block;width: 60%;vertical-align: top;">
  <p>Programming became my crush since I was seven.</p>
  <p>I asked my mon "Can I play with keyboards?" Then I found myself in piano lessons pounding on piano keys.</p>
  <p>"Mom...Why not send me to a coding camp?" However, I ended up with having a flash animation class.</p>
  <p>In high school, I messed up my first attampt in NOIP(National Olympiad in Informatics) due to some technical problems. Instead I won the first prize in CPO(Chinese Physics Olympiad)</p>
  <p>...</p>
  <p>Finally, I realized my childhod dream of programming, as a CS master student at UC Berkeley.</p>
  <p><a href="http://www.haoli.space/resume/">Meet me professionally.</a></p>
</div>
  
  
  <img src="image/profile_circle.jpg" alt="profile" style="width: 30%; margin-left: 5%;">
    </div>
  
  

  <br>
  <br>
  <h1 class="page-heading"><strong>Posts</strong></h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>



</div>
