---
layout: default
---
<style type="text/css">
dt {
      float: left;
      clear: left;
      width: 50%;
      font-weight: ;
  }
  dd {
      margin-left: 70%;
  }
</style>

<div class="home">

  <h1 class="page-heading"><strong>About Me</strong></h1>
  <dt>I got a crush on programming when I was seven.</dt>
  <dt>So I asked my mon "Can I play with keyboards?" Then, she sent me to piano lessions.</dt>
  <dt>"Mom...Why not send me to a coding camp?" Then, I ended up in a flash animation class.</dt>
  <dt>In high school, I messed up my first attampt in NOIP(National Olympiad in Informatics) due to some technical problems. Instead I ended up with a first prize in CPO(Chinese Physics Olympiad)</dt>
  <dt>...</dt>
  <dt>Finally, I realized my childhod dream of programming, as a CS master student at UC Berkeley.</dt>
  <dt><a href="http://www.haoli.space/resume/">Meet me professionally.</a></dt>
  
  <dd><img src="image/profile_circle.jpg" alt="profile" height="215" width="540">
  </dd>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="page-heading"><strong>Posts</strong></h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>



</div>
